<!DOCTYPE html>
<html>
    <head>
        <title>for in loop</title>
        <script type="text/javascript">
                const student = { name: 'Monica', class: 7, age: 12 }

            for ( let key in student ) {
                console.log(key);
            }
        </script>
    </head>
    <body>
        <h1>for in loop</h1>
    </body>
     
</html>	