 <%- include('../layouts/header.ejs') %>					<!--  header page included for future use -->

        <script type="text/javascript">
			let array = [1,4,2,3,[10,20,20], [100,500,700,600],[2000,1000]];
			let flatedData = array.flat();
			console.log(flatedData);
        </script>
    </head>
    <body>
        <h1>flat method</h1>
    </body>
     
</html>	