 <%- include('../layouts/header.ejs') %>					<!--  header page included for future use -->

        <script type="text/javascript">
		 	function* generator() {
			    yield ('*');
			    yield ('**');
			    yield ('***');
			    yield ('****');
			    yield ('*****');
			 }
		 	for(let data of generator())
		   		console.log(data); 
        </script>
    </head>
    <body>
        <h1>right angle triangle using an asterisk</h1>
    </body>
     
</html>	