 <%- include('../layouts/header.ejs') %>		<!-- header page included for future use -->

        <script type="text/javascript">
			function compare(object1,object2)  { 
				const object1_key = Object.keys(object1)
				const object2_key = Object.keys(object2)
				if (object1_key.length !== object2_key.length) 
					console.log("false");
				else{
					for (let key of keys1) 
						if (object1[key] !== object2[key]) 
						  	console.log("false");
				}
			}	
			compare();
        </script>
    </head>
    <body>
        <h1> Two object</h1>
    </body>
     
</html>	