 <%- include('../layouts/header.ejs') %>                            <!--  header page included for future use -->

        <script type="text/javascript">

            function checkPalindrome(string) {
                const length = string.length;                       // find the length of a string
                let flag = true;
                if(!string || length < 2 || typeof string !== 'string' || typeof number === 'boolean') 
                    console.log( "Not a valid input"); 
                else{
                    perfectString = string.toLowerCase().replace(/[^A-Za-z0-9]/g, '');
                    perfectString_length = perfectString.length;
                    for (let i = 0; i < Math.floor(perfectString_length / 2) ; i++) {
                        if (perfectString[i] !== perfectString[perfectString_length - 1 - i]) {       // check first and last string are equal or not
                            flag = false;
                        }
                    }
                    flag ? console.log("Default logic : It is a Palindrome") : console.log("Default logic : It not a Palindrome");  
                }
            }

             checkPalindrome("ra1ceC1ar");                            // function invocation


             //using reverse() method
            let i_string = "racecar";
            i_perfectString = i_string.toLowerCase().replace(/[^A-Za-z0-9]/g, '');
            let i_reversed = i_perfectString.split('').reverse().join('');
            i_reversed === i_perfectString ? console.log("reverse method : It is a Palindrome") : console.log("reverse method : It not a Palindrome");

        </script>
    </head>
    <body>
        <h1>Check Palindrome</h1>
    </body>
     
</html>	