 <%- include('../layouts/header.ejs') %>		<!-- header page included for future use -->

        <script type="text/javascript">
			function randomNumber(min,max) {
		  		console.log(Math.floor(Math.random() * (max - min) + min));
			}
			randomNumber(1,5);
        </script>
    </head>
    <body>
        <h1>Generate Random Number</h1>
    </body>
     
</html>	