 <%- include('../layouts/header.ejs') %>		<!-- header page included for future use -->

        <script type="text/javascript">

        	//using reduce and map set method
			const array = [ {id: 1, name: 'Stephen covey' }, {id: 2, name: 'Robin Sharma' }, {id: 3, name:'Tolstoy'}, {id: 3, name: 'Tolstoy'}, {id: 5, name: 'James clear'} ];
			// array.map(value =>{
			// 	console.log(value.id,value.name);
			// });
			const uniqueArray = Array.from(array.reduce( (map,obj) => map.set(obj.id,obj), new Map()).values());
			console.log(uniqueArray);

        </script>
    </head>
    <body>
        <h1>Remove duplicates in Array of object</h1>
    </body>
     
</html>	