 <%- include('../layouts/header.ejs') %>                                <!--  header page included for future use -->

        <script type="text/javascript">
        	function reverseWord (string){
        		if(!string || string.length < 2 || typeof string !== 'string' || typeof number === 'boolean') 
					console.log( "Not a valid input"); 
				else{
					let reversedWord = console.log(string.split(" ").reverse().join(" "));
					console.log(reversedWord);
	        	} 
			}
			reverseWord("javascript hello");		
        </script>
    </head>
    <body>
        <h1>Reverse a word</h1>
    </body>
     
</html>	