 <%- include('../layouts/header.ejs') %>					<!--  header page included for future use -->

        <script type="text/javascript">
			let data = 0, DataFormation = "";
			for(let i = 1; i<5; i++) {
				for (let j = 0;j < i;j++) {
				   data++;
				   DataFormation+= data;
				   DataFormation +=" ";
				 }
				DataFormation +="\n";
			}
			console.log(DataFormation);
        </script>
    </head>
    <body>
        <h1>Rigt Angle Triange</h1>
    </body>
     
</html>	