 <%- include('../layouts/header.ejs') %>                               <!--  header page included for future use -->

        <script type="text/javascript">
        	let sum = 0;
			for(let i = 1; i <= 10; i++) {
				sum += i;				
			}
			console.log("Sum of 10 Natural numbers :" + sum);					// 55
        </script>
    </head>
    <body>
        <h1>Sum of first 10 Natural Numbers</h1>
    </body>
     
</html>	