<!DOCTYPE html>
<html>
    <head>
        <title>object comparision</title>
        <script type="text/javascript">

            function ischeck(object1, object2) {
                if(object1.name === object2.name)
                    console.log("true");
                else
                    console.log("false");

            }

            const language1 = {
              name: 'Javascript'
            };
            const language2 = {
              name: 'Javascript'
            };
            const language3 = {
              name: 'python'
            };

            ischeck(language1, language2); // => true
            ischeck(language1, language3); // => false

//Comparing with key
            // function keycheck(object1, object2) {
            //     const keys1 = Object.keys(object1);
            //     const keys2 = Object.keys(object2);

            //     if (keys1.length !== keys2.length) 
            //         console.log("false"); 

            //     for (let key of keys1) {
            //         if (object1[key] !== object2[key]) {
            //           console.log("false");
            //         }else console.log("true");
            //       }

            // }
//comparing nested objects or array
        </script>
    </head>
    <body>
        <h1>object comparision</h1>
    </body>
     
</html>	