<!DOCTYPE html>
<html>
    <head>
        <title>Array compare</title>
        <script type="text/javascript">
            function isEqual() {
                let a = [1, 2, 3, 5];
                let b = [1, 2, 3, 5];
                if(a.length!=b.length)
                    return "False";
                else {
                    for(var i=0;i<a.length;i++)
                        if(a[i]!=b[i])
                            return "False";
                    return "true";
              }
            }
            var v = isEqual();
            console.log(v);
        </script>
    </head>
    <body>
        <h1>Array compare</h1>
    </body>
     
</html>	