<!DOCTYPE html>
<html>
    <head>
        <title>Array every Method</title>
        <script type="text/javascript">
            function isBelowThreshold(currentValue){
                return currentValue < 40;
            } 
            // const isBelowThreshold = (currentValue) => currentValue < 40;


            const array1 = [1, 30, 39, 29, 10, 13];

            console.log(array1.every(isBelowThreshold));

        </script>
    </head>
    <body>
        <h1>Array every Method</h1>
    </body>
     
</html>	