<!DOCTYPE html>
<html>
    <head>
        <title>filter method</title>
        <script type="text/javascript">
            const words = ['do', 'limit', 'come', 'beautiful', 'destruction', 'present'];
            const result = words.filter(word => word.length > 6);
            console.log(result);


//object filter
            // let people = [
            //   { name: "Steve", age: 27, country: "America" },
            //   { name: "Jacob", age: 24, country: "America" }
            // ];

            // let filteredPeople = people.filter(function (currentElement) {
            //   return currentElement.country === "America" && currentElement.age < 25;
            // });

            // console.log(filteredPeople);
        </script>
    </head>
    <body>
        <h1>filter method</h1>
    </body>
     
</html>	