<!DOCTYPE html>
<html>
    <head>
        <title>Foreach Method</title>
        <script type="text/javascript">
            let data = [1,2,3,4,5];
            let check = function (item,index,object) {
                console.log(index);
            }
            data.forEach(check);
            // check("hello","d");
        </script>
    </head>
    <body>
        <h1>Foreach Method</h1>
    </body>
     
</html>	