<!DOCTYPE html>
<html>
    <head>
        <title>Map Method</title>
        <script type="text/javascript">
            const array1 = [1, 4, 9, 16];
            const map1 = array1.map(x => x * 2);
            console.log(map1);


            var length = array1.length;
            for(let i=0;i<length-1;i++){
                if(array1[i] !== i+1){
                    console.log(array1[i]);
                }
            }

        </script>
    </head>
    <body>
        <h1>Map Method</h1>
    </body>
     
</html>	