<!DOCTYPE html>
<html>
    <head>
        <title>Some method</title>
        <script type="text/javascript">
            const array = [1,3,5,2];
            const even = (element) => element % 2 === 0;
            console.log(array.some(even));                          //true
        </script>
    </head>
    <body>
        <h1>Some method</h1>
    </body>
     
</html>	