<!DOCTYPE html>
<html>
    <head>
        <title>Rest Property</title>
        <script type="text/javascript">
          function makeFunc() {
            var name = 'Mozilla';
            function displayName() {
              alert(name);
            }
            return displayName;
          }

          var myFunc = makeFunc();
          myFunc();

        </script>
    </head>
    <body>
        <h1>Rest Property</h1>
    </body>
     
</html>	