<!DOCTYPE html>
<html>
    <head>
        <title>Destructing Assignment</title>
        <script type="text/javascript">
                [a,b] = [10,20];
                console.log(a);         // 10
                console.log(b);         // 20


                //swapping two strings without third variable
                // var a = "Hey";
                // var b = "javascript";
                // [b,a] = [a,b];
                // console.log(a,b);
        </script>
    </head>
    <body>
        <h1>Destructing Assignment</h1>
    </body>
     
</html>	