<!DOCTYPE html>
<html>
    <head>
        <title>Rest Property</title>
        <script type="text/javascript">
            // let ar = [8,9,4];
  //i wanna map examples too
           //  let x = [1,2,3,4]
           // function sum(a,...theArgs) {
           //    // return theArgs.reduce((previous, current) => {
           //    //   return previous + current;
           //    // });
           //    console.log(a,theArgs);
           //  }
           //  // console.log(ar);
           //  console.log(sum(x));
            
this.name = "Javascript";
var object = {
  arrow : () => {
    // this.name = "check",
    console.log(this.name);
  },
  // arrow : function() {
  //  console.log(this.name);
  // }
}

console.log(object.arrow());


  // rest with function and other arguments
            // function fun(a,b,...c){
            //   console.log(`${a} ${b}`); //Mukul Latiyan
            //   console.log(c); //[ 'Lionel', 'Messi', 'Barcelona' ]
            //   console.log(c[0]); //Lionel
            //   console.log(c.length); //3
            //   console.log(c.indexOf('Lionel')); //0
            // }
            // fun('Mukul','Latiyan','Lionel','Messi','Barcelona');


        </script>
    </head>
    <body>
        <h1>Rest Property</h1>
    </body>
     
</html>	