<!DOCTYPE html>
<html>
    <head>
        <title>Delete</title>
        <script type="text/javascript">
           
            var a = {x: 0},y:1;
            delete a.x;
            console.log(a)
        </script>
    </head>
    <body>
        <h1>Delete</h1>
    </body>
     
</html>	