<!DOCTYPE html>
<html>
    <head>
        <title>Null Vs Undefined</title>
        <script type="text/javascript">
            function test(t) {
              if (t === undefined) {
                return 'Undefined value!';
              }
              return t;
            }
            let x;
            console.log(test(x));
        </script>
    </head>
    <body>
        <h1>Null Vs Undefined</h1>
    </body>
     
</html>	