<!DOCTYPE html>
<html>
    <head>
        <title>Type Coercion</title>
        <script type="text/javascript">
            let number =  10;
            console.log(number,typeof(number));     //10 "number"

            number = 10 + "";
            console.log(number,typeof(number));     //10 string

            number = "10" - 5;
            console.log(number,typeof(number));     //5 "number"
        </script>
    </head>
    <body>
        <h1>Type Coercion</h1>
    </body>
     
</html>	