<!DOCTYPE html>
<html>
    <head>
        <title>BigInt</title>
        <script type="text/javascript">
            // Parameter in decimal format
            var bigNum = BigInt(
            "123422222222222222222222222222222222222");
            console.log(bigNum);

            // Parameter in hexadecimal format
            var bigHex = BigInt("0x1ffffffeeeeeeeeef");
            console.log(bigHex);

            // Parameter in binary format
            var bigBin = BigInt("0b1010101001010101001111111111111111");
            console.log(bigBin);

        </script>
    </head>
    <body>
        <h1>BigInt</h1>
    </body>
     
</html>	