<!DOCTYPE html>
<html>
    <head>
        <title>boolean</title>
        <script type="text/javascript">
            function check() {
                console.log(Boolean(12));
                console.log('float :' + Boolean(2.74));
            }
            check();
        </script>
    </head>
    <body>
        <h1>boolean</h1>
    </body>
     
</html>	