<!DOCTYPE html>
<html>
    <head>
        <title>Primitive Values</title>
        <script type="text/javascript">

            // let string = 'hello javascript'
            // string = 'loosely javascript';
            // console.log(string);

             let string = 'this is a string'
                string[0] = 'T' //strings are immutable
                console.log(string[0]);
        </script>
    </head>
    <body>
        <h1>Primitive Values</h1>
    </body>
     
</html>	