
<!DOCTYPE html>
<html>
    <head>
        <title>Variables</title>
        <script type="text/javascript">
			// console.log(ab);

           	// let ab = 10;
           	// let ab = 'afdsa';

			// console.log(ab);
			// let a = 10;
			// var b=10;
			if(window==this){
				let a = 10;
			}
			console.log(a);
			// function check() {
			// 	var b = 100;
			// 	function check1() {
			// 		console.log(b);
			// 	}
			// 	check1();
			// }
			// console.log(b);
			// check();
			// console.log(b);

			// window.a;


			//Complete syntax error not even run a console.log//
			//Its possible in var 

			// console.log(1000);
			// let a = 10;

			// let b=100;

			
        </script>
    </head>
    <body>
        <h1>Variables</h1>
    </body>
     
</html>	