
<!DOCTYPE html>
<html>
    <head>
        <title>Variables</title>
        <script type="text/javascript">
           	let ab = 10;
			console.log(ab);
			var b = 100;
			console.log(b);

			window.a;


			//Complete syntax error not even run a console.log//
			//Its possible in var 

			// console.log(1000);
			// let a = 10;

			// let b=100;

			
        </script>
    </head>
    <body>
        <h1>Variables</h1>
    </body>
     
</html>	