
<!DOCTYPE html>
<html>
    <head>
        <title>Evaluate Statements</title>
        <script type="text/javascript">
        	console.log(1);
        	console.log("text");
        	let a=1;
        </script>
    </head>
    <body>
        <h1>Evaluate Statements</h1>
    </body>
     
</html>	